<div class="owl-carousel">
    <div class="item"><img src="./assets/images/gallery/4.jpg" alt="King of Glory Christian Fellowship (KGCF)"></div>
    <div class="item"><img src="./assets/images/gallery/13.jpg" alt="King of Glory Christian Fellowship (KGCF)"></div>
    <div class="item"><img src="./assets/images/gallery/24.jpg" alt="King of Glory Christian Fellowship (KGCF)"></div>
    <div class="item"><img src="./assets/images/gallery/23.jpg" alt="King of Glory Christian Fellowship (KGCF)"></div>
    <div class="item"><img src="./assets/images/gallery/44.jpg" alt="King of Glory Christian Fellowship (KGCF)"></div>
    <div class="item"><img src="./assets/images/gallery/26.jpg" alt="King of Glory Christian Fellowship (KGCF)"></div>
    <div class="item"><img src="./assets/images/gallery/13.jpg" alt="King of Glory Christian Fellowship (KGCF)"></div>
    <div class="item"><img src="./assets/images/gallery/14.jpg" alt="King of Glory Christian Fellowship (KGCF)"></div>
    <div class="item"><img src="./assets/images/gallery/30.jpg" alt="King of Glory Christian Fellowship (KGCF)"></div>
    <div class="item"><img src="./assets/images/gallery/42.jpg" alt="King of Glory Christian Fellowship (KGCF)"></div>
    <div class="item"><img src="./assets/images/gallery/46.jpg" alt="King of Glory Christian Fellowship (KGCF)"></div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="./assets/owl-carousel.js"></script>


<!--<div class="carousel-cont">-->
    <!--<div class="owl-carousel">-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/1.png" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/2.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/3.png" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/4.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/5.png" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/6.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/7.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/8.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/9.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/10.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/11.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/12.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/13.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/14.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/15.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/16.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/17.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/18.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/19.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/20.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/21.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/22.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/23.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/24.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/25.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/26.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/27.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/28.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/29.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/30.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/31.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/32.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/33.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/34.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/35.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/36.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/37.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/38.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/39.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/40.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/41.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/42.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/43.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/44.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/45.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/46.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->
        <!--<div class="item"><figure><img src="./assets/images/gallery/47.jpg" alt="King of Glory Christian Fellowship (KGCF)"></figure></div>-->

    <!--</div>-->
    <!--<div class="custom-nav">-->
    <!--    <button id="customPrevBtn"><i class='fa-solid fa-less-than'></i></button>-->
    <!--    <button id="customNextBtn"><i class='fa-solid fa-greater-than'></i></button>-->
    <!--</div>-->
<!--</div>-->
