<div id="preloader">
    <div>
        <div class="loader">
            <div class="blue">
            </div>
            <img src="./assets/images/preload.png" alt="">
        </div>
        <div class="ld">
            <p class="hdg">Loading</p>
            <div class="loadg">
                <div class="load"></div>
                <div class="load"></div>
                <div class="load"></div>
                <div class="load"></div>
            </div>
        </div>
    </div>
</div>